section{
    width: 100%;
    margin: auto;
    font-family: "Wanted Sans Variable";
}

.div1 {
    /* width: 800px; */
    margin: auto;
    width: 100%;
   
}
.div1_table{
    margin: auto;
    width: 100%;
    margin : 0px 0px 0px 0px;
    display: inline-block;
}

.info {
    border: 1px solid rgb(190, 187, 187);
    border-radius: 10px;
    text-align: center;
    width: 30%;
}
.info1 {
    border: 1px solid rgb(190, 187, 187);
    border-radius: 10px;
    width : 70%;
}

#button {
    border: 1px solid white;
    font-family: "Wanted Sans Variable";
}

#select {
    width : 49%;
    margin-top: 10px;
    margin-bottom: 10px; 
    display: inline-block;
    position: relative;
   
   
}
#select1 {
    width : 49%;
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: right;
    display: inline-block;
  
    
}

#page1 {
    border: 1px solid black;
    text-align: center;
    /* width: 800px; */
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}

#page1_tr {
    background-color: rgba(168, 156, 200, 0.6);
    height: 30px;
    font-family: "Wanted Sans Variable";
    font-size: 18px;
}

#chginfo {
    padding: 20px 10px;
    
}

.extention {
    padding: 2px 20px;
}

button:hover {
    background-color: rgba(155, 178, 225, 0.6);
}

.right_section button {
    font-family: "Wanted Sans Variable";
    background-color: rgba(155, 178, 225, 0.6);
    border-radius: 6px;
    border: 0px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;

}
#button_cancle {
    
    margin : 10px 0px 0px 93%;
   

}
.tr {
    border-bottom : 1px solid black;
    border-top : 1px solid black;
    height : 40px;
    font-family: "Wanted Sans Variable";
    font-size: 15px;
}
select{
    font-family: "Wanted Sans Variable";
    font-size: 15px;
}
.notice_subject {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin : 10px auto;
}
.s_section2{
    text-align: center;
    width: 85%;
    margin: auto;
}


